@media only screen and (max-width: 800px) {
    body {
    background: radial-gradient(
        circle at center,
        #343434 0%,
        #282828 20%,
        #0a0a0a 100%
    );
    display: flex;
    flex-direction: column-reverse;

    background-color: #050505;

    //VARIABLES
    $logoSize: 13rem;

    $previewWidth : 354px;
    $previewHeight: 511px;

    $logoPreviewGap:6rem;


    .titleWithPreview{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: $logoPreviewGap;
        margin-top:2rem;
        height: 100%;

        #appPreview {
        width: $previewWidth;
        height: $previewHeight;
        }


        .titleSubtext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4rem;
            font-family: 'Galada';
            color: rgb(214, 214, 214);
            margin: 0px;
            margin-bottom: -2rem;
            text-shadow:
            0 0 5px #000000,  
            0 0 10px #000000, 
            0 0 20px rgb(0, 0, 0), 
            0 0 30px rgb(174, 54, 54),
            0 0 40px rgb(161, 33, 33);
            margin-top: -2.5rem;
        }

        p {
            font-family: 'EncodeSans';
            text-align: center;
            font-size: 1.2rem;
            color: rgb(255, 201, 201);
        }

        .downloadContainer{
            display: flex;
            flex-direction: row;
            gap: 15px;


            #downloadButton {
            width: 10rem;
            height: 3rem;
            }
        }
        }
    }

    .logoWithDescription {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        gap: 9rem;

        #logo {
        width: $logoSize;
        height: $logoSize
        }

        .descriptionContainer {
            color: white;
            font-family: 'EncodeSans';
            display: none;

            h1 {
                text-shadow:
                0 0 5px #000000,  
                0 0 10px #000000, 
                0 0 20px rgb(0, 0, 0), 
                0 0 30px rgb(174, 54, 54),
                0 0 40px rgb(161, 33, 33);
            }
        }
    }

    }

    footer {
        color: white;
    }
}